$primary-color: #795a40
$secondary-color: #c65252
$tertiary-color: #dddddd
$quaternary-color: #9b8c7a
$quinary-color: #cabbb7
$senary-color: #dec45a
$septenary-color: #894262
$octonary-color: #7b90a0
$nonary-color: #6d6153
$tenth-color: #9b8c7a

$logo-font: 'Dancing Script', cursive
$standart-font: 'Raleway', sans-serif



@import 'hero'
@import "contact"

h1
  color: $tertiary-color

nav
  background-color: $nonary-color
  height: 4em
  display: flex
  font-family: $standart-font

  .logo
    font-family: $logo-font
    font-size: 2em
    margin-right: 8em

  ul
    list-style: none
    align-items: center

    li
      display: inline
      margin-right: 5em
      margin-left: 1em

      a
        text-decoration: none
        color: $tertiary-color


.main-element
  width: 80%
  height: fit-content
  display: flex
  flex-flow: column
  margin: auto
  margin-bottom: 1em
  margin-top: 1em


  .element-content
    display: flex
    flex-flow: row

    .image
      width: 30%
    .text
      width: 70%
      background-color: #9b8c7a
      color: $tertiary-color
      font-family: $standart-font
      padding: 1em


  .row
    display: flex
    flex-wrap: wrap

    .element-content
      flex: 50%

      img
        width: 100%
        margin: auto
        max-height: 407px


  .element-header
    background-color: $tertiary-color
    color: $tenth-color
    height: 6em
    width: 100%
    text-align: center
    font-family: $standart-font
    font-weight: bold
    margin-bottom: 2em
    margin-top: 2em
    padding-top: 1em

    p
      margin-top: 2em
      padding-top: 3em
      padding-bottom: 2em
      font-size: 1.2em


$bg: #fff

.quote 
  display: flex
  margin: 1em
  overflow: hidden
  blockquote 
    background-color: $bg
    border: solid 2px #757575
    display: inline-block
    margin: 0
    padding: 1em
    position: relative
    font-family: $standart-font
    &:before
      background-color: $bg
      bottom: -10%
      content: ""
      left: 0
      position: absolute
      right: 0
      top: -10%
      transform: rotate(-15deg) skew(5deg)
    
    cite 
      display: block
      font-style: italic
      text-align: right
      &:before 
        content: "- "
      
    
    > * 
      position: relative
      z-index: 1
    
  

