$primary-color: #795a40
$secondary-color: #c65252
$tertiary-color: #dddddd
$quaternary-color: #eddcd7
$quinary-color: #cabbb7
$senary-color: #dec45a
$septenary-color: #894262
$octonary-color: #7b90a0
$nonary-color: #6d6153



h1
  color: #5ff57a

nav
  background-color: #6d6153
